 *{
  margin: 0;
  padding:0;
}

.wapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom,transparent 55%,black),url(001.jpeg);
  
  background-size: cover;
  background-position: center center;
 

}

.content h2{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 130px;

}

.content h2 span{
  -webkit-text-fill-color:transparent;

} 
